<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056936721175-jc69qlmfvodis090ekh66duva3q8sbjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056936721175-jc69qlmfvodis090ekh66duva3q8sbjg</string>
	<key>API_KEY</key>
	<string>AIzaSyBZv-b3WYh7s6D_g-z13HkzWz_KdGcewYY</string>
	<key>GCM_SENDER_ID</key>
	<string>1056936721175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduPoint</string>
	<key>PROJECT_ID</key>
	<string>edupoint-8e35b</string>
	<key>STORAGE_BUCKET</key>
	<string>edupoint-8e35b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056936721175:ios:629f93950d87ec63525552</string>
</dict>
</plist>